<div>
  <h3>Historico de Productos</h3>
  <% productos.forEach(produ => { %>
      <div>
          <span><%= produ.title %> </span>
          <span><%= produ.price %> </span>
      </div>
  <% }) %>
</div>