<h2>Carga de Productos</h2>

<form method="post" action="/api/productos">
        <label>Nombre del Producto</label>
        <input type="text" name="title"/>
        <label>Precio</label>
        <input type="number" name="price"/>
        <label>Porcentaje de Descuento</label>
        <input type="number" name="discountPercentage"/>
        <label>Rating</label>
        <input type="number" name="rating"/>
        <label>Stock</label>
        <input type="number" name="stock"/>
        <label>Marca</label>
        <input type="text" name="brand"/>
        <label>Categoría</label>
        <input type="text" name="category"/>
        <label>Thumbnail</label>
        <input type="text" name="thumbnail"/>
        <label>Imagen</label>
        <input type="text" name="Imagen"/>
        <button type="submit">Enviar</button>
    </form>